@page
@model Claswork_ASP_APP.Pages.Home_work.ChangeAuthorInfoModel
@{
}
<div>
	<form method="post">
        <h1>@Model.Error</h1>
        <select asp-for="authorId">
            @foreach (var i in Model._bookShop.GetAllAuthors())
            {
                <option value="@i.AId">@i.AFirstName_BTitle @i.ALastName_BISBN</option>
            }
        </select>
        <button type="submit" asp-page-handler="Confirm">Confirm</button>
        <button type="submit" asp-page-handler="Delete">Delete selected author</button>
        <div>
            <h3>Change authors first name</h3>
            <input asp-for="Author.AFirstName_BTitle" placeholder="@Model.Author.AFirstName_BTitle"></input>

            <h3>Change authors last name</h3>
            <input asp-for="Author.ALastName_BISBN" placeholder="@Model.Author.ALastName_BISBN"></input>

            <h3>Change authors birth year</h3>
            <input asp-for="Author.ABirthDate_BPublishedYear" placeholder="@Model.Author.ABirthDate_BPublishedYear"></input>

        </div>
        <button type="submit" asp-page-handler="Change">Change</button>
	</form>
</div>
