@page
@model Claswork_ASP_APP.Pages.GetInfoOfBookModel
@{
}
<div>
	
	<form method="post">
		<div>
			<select asp-for="window_type">
				<option value="Author">Author</option>
				<option value="Book">Book</option>
			</select>
			<button type="submit" asp-page-handler="Confirm">Confirm</button>
		</div>
		<div>
			<select asp-for="sortType">
				@if (Model.window_type == "Book")
				{
					<option value="ASD">Title ASD</option>
					<option value="DESC">Title DESC</option>
					<option value="YEAR">PublishYear</option>
				}
				else
				{
					<option value="ASD">Name ASD</option>
					<option value="DESC">Name DESC</option>
					<option value="YEAR">Birth day</option>
					<option value="ID">Id (drop down)</option>
				}
			</select>
			<button type="submit" asp-page-handler="Sort">Confirm sorting</button>
		</div>
		<div>
			<input asp-for="Input_text" placeholder="Input name or title"></input>
			<button type="submit" asp-page-handler="Find">Find</button>
		</div>
		<h1>@Model.Title</h1>
		<div>
			@if (Model.window_type == "Book")
			{
				foreach (var i in Model.avtorBook)
				{
					<div style="background-color:blue;justify-items:center;align-content:center;width:300px;height:300px;margin-bottom:25px">
						<h3 style="color:white">Title: @i.AFirstName_BTitle</h3>
						<h3 style="color:white">ISBN: @i.ALastName_BISBN</h3>
						<h3 style="color:white">Published: @i.ABirthDate_BPublishedYear year</h3>
						<h3 style="color:white">Price: @i.BPrice $</h3>
						<h3 style="color:white">Avtor: @i.AId</h3>
					</div>
				}
			}
			else if (Model.window_type == "Author")
			{
				foreach (var i in Model.avtorBook)
				{
					<div style="background-color:red;justify-items:center;align-content:center;width:300px;height:300px;margin-bottom:25px">
						<h3 style="color:white">First name: @i.AFirstName_BTitle</h3>
						<h3 style="color:white">Last name: @i.ALastName_BISBN</h3>
						<h3 style="color:white">Birth year :@i.ABirthDate_BPublishedYear year</h3>
					</div>
				}
			}
			else
			{
				<li>List is empty</li>
			}
		</div>
	</form>
</div>